{{#if flashSuccess}}
    <div class="alert alert-info">{{flashSuccess}}</div>
{{/if}}

{{#if flashError}}
    <div class="alert alert-danger">{{flashError}}</div>
{{/if}}
{{#if passportSuccess}}
    <div class="alert alert-primary">{{passportSuccess}}</div>
{{/if}}

{{#if passportFailure}}
    <div class="alert alert-danger">{{passportFailure}}</div>
{{/if}}